*{
  font-family: Arial, Helvetica, sans-serif;
  background-color: beige;
}

body{
  padding: 50px;
}

h2 {
  color: rgba(4, 11, 105, 0.383);
  font-size: 35px;
}

input{
  color: grey;
  padding: 5px;
  font-size: 1.1rem;
}

.card{
  align-content: center;
  border: 1px solid grey;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
  overflow: hidden;
  animation-duration: 5s;
}

.card p {
  text-align: center;
  padding: 5px;
  margin: 10px;

}

.grid-card {
display: flex;
flex-direction: row;
flex-wrap: wrap;
padding: 5px;
}